.progressBarContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  max-height: 70px;
  height: 10%;
  gap: var(--gap-md);
  padding: var(--padding-sm);
}

.turnsCountContainer {
  display: flex;
  align-items: center;
  width: 35%;
  height: 100%;
  justify-content: flex-start;
}

.progressBarContent {
  display: flex;
  align-items: center;
  width: 65%;
  height: 100%;
  gap: var(--gap-sm);
}

.progressBarBorders {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 4px;
  border-color: var(--border-dark) var(--border-medium) var(--border-medium)
    var(--border-dark);
  display: flex;
  align-items: center;
}

.progressBarBackground {
  height: 100%;
  background-color: var(--accent);
  transition: all 0.3s ease-in-out;
}

.progressBarPercentage {
  min-width: 45px;
}

@media (max-width: 450px) {
  .progressBarContainer {
    gap: var(--gap-sm);
    max-height: 50px;
  }

  .turnsCountContainer {
    width: 50%;
  }

  .progressBarContent {
    width: 50%;
  }

  .progressText {
    display: none;
  }
}
