.titleScreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: calc(var(--padding) * 4);
}

.gameTitleContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 50%;
  width: 100%;
}

.titleScreenButton {
  min-height: 50px !important;
  max-height: 80px !important;
  animation-name: titleScreenButtonAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
}

@keyframes titleScreenButtonAnimation {
  0% {
    max-width: var(--btn-width);
    height: 50px;
    font-size: 2rem;
  }
  50% {
    max-width: 260px;
    height: 80px;
    font-size: 3rem;
  }
  100% {
    max-width: var(--btn-width);
    height: 50px;
    font-size: 2rem;
  }
}

.pageFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  z-index: 5;
  position: fixed;
  bottom: 0;
  color: var(--lightest) !important;
}

.pageFooter a {
  margin-left: 10px;
  text-decoration: underline;
  color: var(--accent);
}
