.primaryButton {
  background-color: var(--btn-bg);
  max-width: var(--btn-width);
  min-height: var(--btn-height);
  max-height: var(--btn-height);
  width: 100%;
}

.primaryButton:active {
  background-color: var(--btn-active);
}

@media (hover: hover) {
  .primaryButton:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
    color: var(--accent);
    text-shadow: 2px 2px 2px var(--darkest);
  }
}
