.settingOptionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-lg);
  height: 30%;
}

.optionsTitle {
  width: 100%;
}

.radioOptionsContainer {
  display: flex;
  gap: var(--gap-md);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-height: 150px;
}

.radioOptionLabel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 60px;
}

.radioInput {
  appearance: none;
}

.radioInput:focus {
  outline: none;
}

.labelTextContent {
  border-style: solid;
  border-width: 4px;
  border-color: var(--border-light) var(--border-medium) var(--border-medium)
    var(--border-light);
  width: 100%;
  height: 100%;
  max-height: 50px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-sm);
  cursor: pointer;
}

.radioInput:checked + .labelTextContent {
  border-style: solid;
  border-width: 4px;
  border-color: var(--border-dark) var(--border-medium) var(--border-medium)
    var(--border-dark);
  background-color: var(--btn-hover);
}

@media (hover: hover) {
  .labelTextContent:hover {
    color: var(--accent);
    text-shadow: 2px 2px 2px var(--darkest);
  }
}

@media (max-width: 600px) {
  .settingOptionsContainer {
    gap: var(--gap-sm);
  }

  .radioOptionsContainer {
    flex-direction: column;
    gap: var(--gap-sm);
  }

  .radioOptionLabel {
    padding: 0;
  }

  .labelTextContent {
    padding: 2px;
  }
}
