.gameOverCon {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--padding) * 4);
  gap: calc(var(--gap) * 5);
  width: 90%;
  max-width: 300px;
  height: 90%;
  max-height: 190px;
  font-size: 2rem;
  z-index: 4;
}
