.cardsGridContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  max-height: 83%;
  max-width: 90%;
  padding: var(--padding);
  gap: 5px;
}

.mediumGrid {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.smallGrid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.largeGrid {
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

@media (max-width: 500px) {
  .cardsGridContainer {
    gap: var(--gap);
  }

  .mediumGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .largeGrid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
  }
}

@media screen and (width >= 500px) and (height <= 900px) {
  .cardsGridContainer {
    max-width: 70%;
  }
}
