.cardsGridContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  max-height: 83%;
  max-width: 90%;
  padding: var(--padding-sm);
  gap: 5px;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-template-rows: repeat(var(--rows), minmax(0, 1fr));
}

.mediumGrid {
  --columns: 6;
  --rows: 4;
}

.smallGrid {
  --columns: 3;
  --rows: 4;
}

.largeGrid {
  --columns: 8;
  --rows: 5;
}

@media (max-width: 500px) {
  .cardsGridContainer {
    gap: var(--gap-sm);
  }

  .mediumGrid {
    --columns: 4;
    --rows: 6;
  }

  .largeGrid {
    --columns: 5;
    --rows: 8;
  }
}

@media screen and (width >= 500px) and (height <= 900px) {
  .cardsGridContainer {
    max-width: 70%;
  }
}
