.modalContainer {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  gap: calc(var(--gap) * 3);
  padding: calc(var(--padding) * 4);
}

.loadingText {
  color: var(--lightest) !important;
}

.titleText {
  color: var(--accent) !important;
}

.loadingAnimation {
  animation-name: loading;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}
