.borders {
  border-style: solid;
  border-color: var(--secondary-light) var(--secondary-medium)
    var(--secondary-medium) var(--secondary-light);
}

.metalBase {
  border-width: 8px;
  background-color: var(--card-bg);
  color: var(--darkest);
}

.btn {
  border-width: 6px;
  background-color: var(--btn-bg);
  color: var(--darkest);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover);
  color: var(--accent);
  text-shadow: 2px 2px 2px var(--darkest);
}

.btn:active {
  background-color: var(--btn-active);
}

@media (max-width: 450px) {
  .metalBase {
    border-width: 6px;
  }
}
