@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  text-transform: uppercase;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --card-bg: #bebcbc;
  --btn-bg: #c7c5c5;
  --btn-hover: #acaaaa;
  --btn-active: #979494;
  --modal-bg: rgba(95, 95, 97, 0.5);
  --darkest: #000;
  --lightest: #fff;
  --accent: #eaac02;
  --secondary-light: #d8d8d8;
  --secondary-medium: #757575;
  --secondary-dark: #2d2c2c;
  --border-radius: 10px;
  --margin: 10px;
  --padding: 5px;
  --gap: 3px;
  --btn-width: 230px;
  --btn-height: 70px;
}

.wrapper {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  cursor: default;
  user-select: none;
}

@media (max-width: 500px) {
  :root {
    --border-radius: 5px;
  }
}
