.modalCon {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  animation-name: darkening;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes darkening {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--modal-bg);
  }
}

.slideDown {
  animation-name: slideDown;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    top: -200vh;
  }
  100% {
  }
}
