.borders {
  border-style: solid;
  border-color: var(--border-light) var(--border-medium) var(--border-medium)
    var(--border-light);
  border-width: 6px;
}

.baseElement {
  border-width: 8px;
  background-color: var(--base-bg);
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 450px) {
  .baseElement {
    border-width: 6px;
  }
}
